<%- include('includes/head.ejs')%>
</head>
<body>
	<%- include('includes/navigation.ejs')%>
	<h1>Database Error Occured!</h1>
    <p>We are currently working on this issue. Sorry about the inconvenience!</p>

<%- include('includes/end.ejs')%>
